body {
  margin: 20px;
  padding: 0;
  background: #fff;
}

.container {
  max-width: 80%;
  margin: auto;
}

.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.imgs img {
  cursor: pointer;
}

/* Media Queries */
@media(max-width: 1000px) {
  .imgs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 600px) {
  .imgs {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* modal dialog */

dialog {
  padding: 0;
  border: 0;
  border-radius: 0.6rem;
  box-shadow: 0 0 1em black;  
  font-size: 18pt;
}

dialog:focus {outline:0;}

dialog::backdrop {
  /* make the backdrop a semi-transparent black */
  background-color: rgba(0, 0, 0, 0.4);
}

dialog img, dialog footer {
  width:90% ;  
  display: block ;
  margin: auto ;
}

dialog footer {
  overflow-y: visible;
  text-align: left;
  padding-top : 1em;
}

dialog nav {
  width: 100%;
  text-align: center;
  color: white;
  background-color: slategrey;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 1em;
}
